.my-class {
  border: 3px solid green;
  padding: 5px;
  background-color: orange;
  margin:auto;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  width: 50%;
  display: block;
  
}

.centered-image {
  width: auto;
  margin: auto;
  height: 500px;
  display: block;

}

body {
  background-color: rgb(255, 30, 0);
  font-family: sans-serif;

}

.digital p {
  background-color: rgb(6, 158, 31);
  padding: 5px;
}

.analog p {
  background-color: blue;
  padding: 5px;
}